.filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.filter-item.full-width {
  flex: unset;
  width: 100%;
}

.filter-item label {
  margin-right: 5px;
  white-space: nowrap;
}

.filter-item input,
.filter-item select {
  padding: 5px;
  width: 60px;
}

.filter-item input[type="number"] {
  width: 50px;
}

/* "저고 비율"과 "총합 범위"을 한 줄에 배치 */
.filter-item.low-high-total {
  display: flex;
  gap: 15px; /* 저고 비율과 총합 범위 간 간격 */
  flex: 2; /* 공간을 더 차지하도록 조정 */
}

.filter-item.low-high-total .sub-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-row:nth-child(2) select {
  width: calc(100% / 6 - 10px); /* 번호대 선택 폭 조정 (기존 3번째에서 2번째로 변경) */
}

.filter-row:last-child {
  justify-content: center; /* 검색, 초기화 버튼 중앙 정렬 */
  gap: 20px; /* 버튼 간 간격 */
}

.filter-row button {
  padding: 5px 20px;
  width: 100px;
}